# ĐỒ ÁN CUỐI KỲ - PHÂN TÍCH DỮ LIỆU BẢO TOÀN TÍNH RIÊNG TƯ

## THÀNH VIÊN NHÓM:

- 22120304 - Nguyễn Thị Kim Quý

- 22120338 - Đỗ Hạnh Thảo

- 22120352 - Phạm Nguyễn Quang Thoại

In [2]:
import pandas as pd
import numpy as np
import re

### 1. Đọc file

In [11]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

print("Số dòng trong train.csv", len(train_data))
print(f"\nSố cột: {len(train_data.columns)}")
print("Tên các cột:", list(train_data.columns))
print("\n 5 dòng đầu trong train.csv:\n")
print(train_data.head())

Số dòng trong train.csv 1317

Số cột: 20
Tên các cột: ['Make', 'Model', 'Price', 'Year', 'Kilometer', 'Fuel Type', 'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine', 'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height', 'Seating Capacity', 'Fuel Tank Capacity']

 5 dòng đầu trong train.csv:

        Make                                    Model    Price  Year  \
0  Ssangyong                               Rexton RX7   975000  2013
1    Hyundai  Creta SX (O) 1.5 Petrol CVT [2020-2022]  1748999  2022
2       Audi                     A4 2.0 TDI (143 bhp)  1150000  2012
3    Hyundai        Grand i10 Magna AT 1.2 Kappa VTVT   549000  2018
4    Hyundai                       Elite i20 Asta 1.2   675000  2017

   Kilometer Fuel Type Transmission   Location   Color   Owner Seller Type  \
0      72000    Diesel    Automatic  Bangalore  Silver   First  Individual
1       2670    Petrol    Automatic    Kolkata   White   First  Individual
2      40031    Diesel    Automatic       Pune    Blue  Second  Individual
3      53000    Petrol    Automatic  Hyderabad   White  Second  Individual
4      48591    Petrol       Manual  Hyderabad   White   First  Individual

    Engine           Max Power         Max Torque Drivetrain  Length   Width  \
0  2696 cc  184 bhp @ 4000 rpm  402 Nm @ 3000 rpm        AWD  4755.0  1900.0
1  1497 cc  113 bhp @ 6300 rpm  144 Nm @ 4500 rpm        FWD  4300.0  1790.0
2      NaN                 NaN                NaN        NaN     NaN     NaN
3  1197 cc   81 bhp @ 6000 rpm  114 Nm @ 4000 rpm        FWD  3765.0  1660.0
4  1197 cc   82 bhp @ 6000 rpm  115 Nm @ 4000 rpm        FWD  3985.0  1734.0

   Height  Seating Capacity  Fuel Tank Capacity
0  1785.0               7.0                78.0
1  1635.0               5.0                50.0
2     NaN               NaN                 NaN
3  1520.0               5.0                43.0
4  1505.0               5.0                45.0

In [12]:
print("Số dòng trong test.csv", len(test_data))
print(f"\nSố cột: {len(test_data.columns)}")
print("Tên các cột:", list(test_data.columns))
print("\n 5 dòng đầu trong test.csv:\n")
print(test_data.head())

Số dòng trong test.csv 330

Số cột: 20
Tên các cột: ['Make', 'Model', 'Price', 'Year', 'Kilometer', 'Fuel Type', 'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine', 'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height', 'Seating Capacity', 'Fuel Tank Capacity']

 5 dòng đầu trong test.csv:

            Make                           Model    Price  Year  Kilometer  \
0           Ford      Endeavour Trend 2.2 4x2 AT  2350000  2016      75000
1         Toyota  Urban Cruiser Premium Grade AT  1050000  2021       1910
2  Maruti Suzuki                    Alto 800 Lxi   210000  2014      42505
3          Honda                  City SV Diesel   550000  2014      85000
4        Hyundai                       Eon Era +   290000  2018      70000

  Fuel Type Transmission  Location   Color   Owner Seller Type   Engine  \
0    Diesel    Automatic    Mohali   White  Second  Individual  2198 cc
1    Petrol    Automatic  Varanasi   White   First  Individual  1462 cc
2    Petrol       Manual    Purnea     Red   First  Individual   796 cc
3    Diesel       Manual    Jaipur  Silver   First  Individual  1498 cc
4    Petrol       Manual     Kheda   White   First  Individual   814 cc

            Max Power         Max Torque Drivetrain  Length   Width  Height  \
0  158 bhp @ 3200 rpm  385 Nm @ 1600 rpm        RWD  4892.0  1860.0  1837.0
1  103 bhp @ 6000 rpm  138 Nm @ 4400 rpm        FWD  3995.0  1790.0  1640.0
2   47 bhp @ 6000 rpm   69 Nm @ 3500 rpm        FWD  3395.0  1490.0  1475.0
3   99 bhp @ 3600 rpm  200 Nm @ 1750 rpm        FWD  4440.0  1695.0  1495.0
4   55 bhp @ 5500 rpm   75 Nm @ 4000 rpm        FWD  3495.0  1550.0  1500.0

   Seating Capacity  Fuel Tank Capacity
0               7.0                80.0
1               5.0                48.0
2               5.0                35.0
3               5.0                40.0
4               5.0                32.0

### 2. Tiền xử lý dữ liệu

In [13]:
# Hàm trích xuất số từ chuỗi
def extract_number(s):
    if pd.isna(s):
        return np.nan
    match = re.search(r'(\d+)', str(s).replace(',', ''))
    if match:
        return int(match.group(1))
    return np.nan

# Hàm label encode
def label_encode(series, mapping=None):
    if mapping is None:
        uniques = series.dropna().unique()
        mapping = {k: v for v, k in enumerate(sorted(uniques))}
    encoded = series.map(mapping)
    return encoded, mapping

In [14]:
# Bước 1: Trích số từ các cột chuỗi số
for col in ['Engine', 'Max Power', 'Max Torque']:
    train_data[col] = train_data[col].apply(extract_number)
    test_data[col] = test_data[col].apply(extract_number)

# Bước 2: Label encoding thủ công cho các cột phân loại
categorical_cols = ['Make', 'Model', 'Fuel Type', 'Transmission', 'Location', 
                    'Color', 'Owner', 'Seller Type', 'Drivetrain']
mappings = {}

for col in categorical_cols:
    train_data[col], mappings[col] = label_encode(train_data[col])
    test_data[col] = test_data[col].map(mappings[col])

# Bước 3: Xử lý giá trị thiếu
# Với categorical NaN -> -1
for col in categorical_cols:
    train_data[col] = train_data[col].fillna(-1)
    test_data[col] = test_data[col].fillna(-1)

# Với numeric NaN -> trung bình cột train
numeric_cols = ['Year', 'Kilometer', 'Engine', 'Max Power', 'Max Torque', 
                'Length', 'Width', 'Height', 'Seating Capacity', 'Fuel Tank Capacity']
for col in numeric_cols:
    mean = train_data[col].mean()
    train_data[col] = train_data[col].fillna(mean)
    test_data[col] = test_data[col].fillna(mean)

# Bước 4: Chuẩn hóa dữ liệu numeric
for col in numeric_cols:
    mean = train_data[col].mean()
    std = train_data[col].std()
    train_data[col] = (train_data[col] - mean) / std
    test_data[col] = (test_data[col] - mean) / std

# Bước 5: Tách X và Y
y_train = train_data['Price']
X_train = train_data.drop(columns=['Price'])
y_test = test_data['Price']
X_test = test_data.drop(columns=['Price'])

print("Sau khi tiển xử lý dữ liệu cho train_data: ")
print("Train.shape = ", train_data.shape)
print("Các cột trong train_data:", list(train_data.columns))
print("\n 5 dòng đầu trong train.csv:\n")
print(train_data.head())

Sau khi tiển xử lý dữ liệu cho train_data:
Train.shape =  (1317, 20)
Các cột trong train_data: ['Make', 'Model', 'Price', 'Year', 'Kilometer', 'Fuel Type', 'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine', 'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height', 'Seating Capacity', 'Fuel Tank Capacity']

 5 dòng đầu trong train.csv:

   Make  Model    Price      Year  Kilometer  Fuel Type  Transmission  \
0    25    538   975000 -0.989540   0.274506          1             0
1     7    227  1748999  1.644419  -0.817523          5             0
2     0     33  1150000 -1.282202  -0.229044          1             0
3     7    397   549000  0.473770  -0.024767          5             0
4     7    295   675000  0.181108  -0.094214          5             1

   Location  Color  Owner  Seller Type        Engine     Max Power  \
0         6     14      0            2  1.503194e+00  8.338177e-01
1        33     15      0            2 -3.225349e-01 -2.679054e-01
2        53      2      2            2 -3.462240e-16  4.410261e-16
3        24     15      2            2 -7.793477e-01 -7.644567e-01
4        24     15      0            2 -7.793477e-01 -7.489394e-01

     Max Torque  Drivetrain        Length         Width        Height  \
0  1.095560e+00         0.0  1.060288e+00  9.662296e-01  1.461120e+00
1 -7.419070e-01         1.0  3.274242e-02  1.537965e-01  3.294420e-01
2 -2.024184e-16        -1.0  2.053950e-15  1.679326e-15 -1.715425e-15
3 -9.555659e-01         1.0 -1.175471e+00 -8.063518e-01 -5.381777e-01
4 -9.484440e-01         1.0 -6.786354e-01 -2.598059e-01 -6.513455e-01

   Seating Capacity  Fuel Tank Capacity
0      2.108120e+00        1.680819e+00
1     -3.879255e-01       -1.589841e-01
2     -1.108467e-15        4.668781e-16
3     -3.879255e-01       -6.189349e-01
4     -3.879255e-01       -4.875204e-01

In [15]:
print("Sau khi tiền xử lý dữ liệu cho test_data:")
print("Test.shape = ", test_data.shape)
print("Các cột trong test_data:", list(test_data.columns))
print("\n 5 dòng đầu trong test.csv:\n")
print(test_data.head())

Sau khi tiền xử lý dữ liệu cho test_data:
Test.shape =  (330, 20)
Các cột trong test_data: ['Make', 'Model', 'Price', 'Year', 'Kilometer', 'Fuel Type', 'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine', 'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height', 'Seating Capacity', 'Fuel Tank Capacity']

 5 dòng đầu trong test.csv:

   Make  Model    Price      Year  Kilometer  Fuel Type  Transmission  \
0   5.0   -1.0  2350000 -0.111554   0.321759        1.0             0
1  27.0   -1.0  1050000  1.351757  -0.829494        5.0             0
2  17.0   56.0   210000 -0.696878  -0.190075        5.0             1
3   6.0  172.0   550000 -0.696878   0.479271        1.0             1
4   7.0  320.0   290000  0.473770   0.243003        5.0             1

   Location  Color  Owner  Seller Type    Engine  Max Power  Max Torque  \
0      41.0     15    2.0            2  0.744884   0.430370    0.974486
1      68.0     15    0.0            2 -0.375830  -0.423078   -0.784639
2      54.0     13    0.0            2 -1.389954  -1.292042   -1.276054
3      26.0     14    0.0            2 -0.321012  -0.485147   -0.343077
4      32.0     15    0.0            2 -1.362545  -1.167905   -1.233323

   Drivetrain    Length     Width    Height  Seating Capacity  \
0         2.0  1.369681  0.670799  1.853435          2.108120
1         1.0 -0.656052  0.153796  0.367165         -0.387926
2         1.0 -2.011057 -2.061930 -0.877681         -0.387926
3         1.0  0.348910 -0.547850 -0.726791         -0.387926
4         1.0 -1.785223 -1.618785 -0.689068         -0.387926

   Fuel Tank Capacity
0            1.812233
1           -0.290399
2           -1.144593
3           -0.816057
4           -1.341715

### 3.1

### 3.2

### 3.3